@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(149, 1, 1);
  background: linear-gradient(140deg, rgba(149, 1, 1, 1) 0%, rgba(50, 46, 46, 1) 40%, rgba(50, 46, 46, 1) 50%, rgba(61, 0, 0, 1) 100%);
  color: #ffffff;
  @apply h-screen 2xl:overflow-hidden;
}

header {
  @apply flex justify-between;
}

h1 {
  @apply text-2xl font-medium;
}

footer,
section,
header {
  @apply p-5 lg:px-52;
}
